body{
    font-family:sans-serif;
    background:#eef2f7;
    direction:rtl;
    transition:0.3s;
}

.container{
    max-width:750px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 20px 40px rgba(0,0,0,0.15);
}

button, input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:10px;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    cursor:pointer;
}

#preview{
    max-width:100%;
    border-radius:15px;
}
