body{
    font-family:sans-serif;
    background:#eef2f7;
    direction:rtl;
    transition:0.3s;
}

.dark{
    background:#0f172a;
    color:white;
}

.container{
    max-width:750px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 20px 40px rgba(0,0,0,0.15);
}

.dark .container{
    background:#020617;
}

button{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:10px;
    background:#2563eb;
    color:white;
    border:none;
    cursor:pointer;
}

video, canvas {
  width: 100%;
  border-radius: 12px;
  margin-top: 10px;
}

/* Dark mode switch */
.switch{
    position:relative;
    display:inline-block;
    width:50px;
    height:24px;
}
.switch input{display:none;}
.slider{
    position:absolute;
    cursor:pointer;
    background:#ccc;
    border-radius:24px;
    width:100%;
    height:100%;
}
.slider:before{
    content:"";
    position:absolute;
    height:18px;
    width:18px;
    left:3px;
    bottom:3px;
    background:white;
    border-radius:50%;
    transition:.3s;
}
input:checked + .slider{
    background:#2563eb;
}
input:checked + .slider:before{
    transform:translateX(26px);
}
