<!DOCTYPE html>
<html lang="fa">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>حل معادله با عکس</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://cdn.jsdelivr.net/npm/tesseract.js@5/dist/tesseract.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<div class="container">

<header>
<h1>حل معادله فقط با عکس 📷</h1>
<label class="switch">
  <input type="checkbox" onchange="toggleDark()">
  <span class="slider"></span>
</label>
</header>

<button onclick="openCamera()">📷 گرفتن عکس</button>

<video id="video" autoplay playsinline></video>
<canvas id="canvas"></canvas>

<button onclick="capture()">📸 ثبت عکس و حل</button>

<p id="equation"></p>
<p id="roots"></p>
<canvas id="chart"></canvas>

</div>

<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
